body {
    margin: 0%;
    background-color: #EBEBEB;
}

* {
    font-family: 'Rubik', sans-serif;
}

.header-section {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.25);
    background-color: white;
}

.title-heading {
    display: flex;
}

.icon-image {
    padding: 20px;
    color: #28292B;
}

.left-nav {
    width: 300px;
    height: 1037px;
    left: 0px;
    top: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(136, 136, 136, 0.25);
}

.left-nav-title {
    color: #349EFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    height: 48px;
    background-color: #EBEBEB;
}

.left-nav-list {
    list-style-type: none;
}

.section-2 {
    display: flex;
}

.right-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-adding-section {
    border-style: dotted;
    width: 260px;
    height: 200px;
    margin-left: 449px;
    margin-top: 126px;
}

.add-symbol {
    color: #28292B;
    margin-bottom: 20px;
}

.item {
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
    background-color: #FFFFFF;
}