body {
    margin: 0%;
    background-color: #EBEBEB;
    --text-secondary: #494949;
    --text-primary: #28292B;
    --primary-color: #349EFF;
    --bg-grey: #EBEBEB;
    --header-height: 80px;
    --left-nav-width: 300px;
}

* {
    font-family: 'Rubik', sans-serif;
}

.header-section {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.25);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.nave-left-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 40px;
    height: 40px;
    width: 40px;
    transition: 0.3s;
}

.nave-left-btn:hover {
    background-color: var(--bg-grey);
    border-radius: 20px;
}

.title-heading {
    font-size: 18px;
    color: var(--text-secondary);
}

.left-nav {
    width: var(--left-nav-width);
    height: 100vh;
    position: fixed;
    left: 0;
    padding-top: var(--header-height);
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(136, 136, 136, 0.25);
    transition: 300ms;
}

.left-nav.closed {
    left: calc(0px - var(--left-nav-width));
}

.left-nav-title {
    color: #349EFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    height: 48px;
    background-color: #EBEBEB;
}

.left-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 20px 0;
}

.left-nav-item {
    font-size: 14px;
    padding: 14px 20px;
    color: var(--text-primary);
}

.left-nav-item.selected {
    color: var(--primary-color);
    background-color: var(--bg-grey)
}

.section {
    display: flex;
}

.right-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--header-height);
    padding: 80px;
    gap: 40px;
    padding-left: calc(var(--left-nav-width) + 80px);
}

.content-adding-section {
    border-style: dotted;
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.ri-add-line {
    color: #28292B;
}

.item {
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
    background-color: #FFFFFF;
}

.icon {
    font-size: 24px;
    color: var(--text-primary);
}
body {
    margin: 20px;
    background-color:whitesmoke;
    position: relative;
    width: 1728px;
    height: 1117px;
  }
  .head{
    background-color: white;
    margin: 10px;
    border-radius: none;
    display: flex;
    padding: 0px;
    border: 10px;
    justify-content: space-between;
    align-items: center;
    color: black;
    position: absolute;
    width: 1728px;
    height: 80px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px;
  }
  .title{
    display: 0;
    background-color: white;
    margin:10px;
    padding: 10px;
    text-align:start;
    border:40px;
    position: absolute;
    width: 963px;
    height: 943px;
    left: 382px;
    top: 127px;
    
  }